---
import Card from '@/components/Card.astro'
import Separator from '@/components/Separator.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Juan Camilo Urbano'>
  <main>
    <h1 class='font-xanh text-5xl md:text-6xl'>Crafting and Design.</h1>
    <p class='text-gray mt-2 text-xl'>
      Simply put, I spend part of my day in front of my setup 💻 creating cool
      designs for cool people all over the world 🌎.
    </p>
    <Separator />
    <Card
      title='Marco'
      body='Gorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet consectetur, Gorem ipsum dolor sit amet.'
      href='/work/marco'
      image='/images/marco/marco.webp'
      tags={['UX Design', 'UI Design']}
    />
    <Separator />
    <Card
      title='Swiset Design System'
      body='Gorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet consectetur, Gorem ipsum dolor sit amet.'
      href='#'
      image='/images/system-design.jpeg'
      tags={['Design System', 'UI Design']}
    />
    <Separator />
  </main>
</Layout>

<style></style>
