---
interface Props {
  title?: string
  href?: string
  isDownload?: boolean
}

const { title, href, isDownload } = Astro.props

const download = isDownload ? 'juan-camilo-urbano-resume.pdf' : undefined
---

<a
  href={href}
  download={download}
  class='bg-blue-500 text-white px-5 py-2 text-base flex gap-2 max-w-fit justify-center items-center h-10 cursor-pointer rounded'>
  <slot />
  <slot name='icon' />
</a>

<style></style>
