---
import Logo from './Logo.astro'
import Menu from './Menu.astro'
import MobileMenu from './MobileMenu.astro'
import SocialNetworks from './SocialNetworks.astro'
---

<aside
  class='w-full bg-light-gray py-4 px-4 md:px-12 drop-shadow-lg flex justify-between sticky top-0 border'>
  <div class='flex gap-4'>
    <div class='md:hidden'>
      <MobileMenu />
    </div>
    <a href='/'>
      <Logo size='small' />
    </a>
    <ul class='hidden space-x-4 md:flex items-center'>
      <Menu />
    </ul>
  </div>
  <SocialNetworks />
</aside>
