---
import Logo from './Logo.astro'
import SocialNetworks from './SocialNetworks.astro'

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1) // remove the first "/"
---

<aside class='w-[350px] bg-light-gray min-h-screen p-10 fixed drop-shadow-lg'>
  <header>
    <Logo size='large' />
    <h2 class='text-xl text-black mt-6 mb-2'>Juan Camilo Urbano</h2>
    <p class='text-base text-gray tracking-wide'>
      I am passionate about design and technology, I enjoy designing data-driven
      digital products that fit my clients' needs and enhance their user
      experience. My business background helps me to create effective solutions
      that fit the design and business needs of companies.
    </p>
  </header>
  <div class='border-t border-gray/30 my-4'></div>
  <ul class='space-y-2'>
    <li class={`uppercase m-0 ${currentPath === '' ? 'font-semibold' : ''}`}>
      <a class='active:text-black' href='/'>Home</a>
    </li>
    <li
      class={`uppercase m-0 ${currentPath === 'work' ? 'font-semibold' : 'text-gray'}`}>
      <a class='active:text-black' href='/work'>Work</a>
    </li>
    <li class='uppercase text-gray m-0'>
      <a class='hover:text-black' href='/#about'>About</a>
    </li>
    <li class='uppercase text-gray m-0'>
      <a class='hover:text-black' href='/#resume'>Resume</a>
    </li>
    <li class='uppercase text-gray m-0'>
      <a class='hover:text-black' href='/#contact'>Contact</a>
    </li>
  </ul>
  <div class='border-t border-gray/30 my-4'></div>
  <SocialNetworks />
</aside>
