<aside class='w-[350px] bg-light-gray min-h-screen p-10 fixed'>
  <header>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='100'
      height='100'
      fill='none'>
      <path stroke='#07041F' d='M3.5 4.5h93v91h-93z'></path><circle
        cx='50'
        cy='50'
        r='5'
        fill='#07041F'>
      </circle><path
        stroke='#07041F'
        d='M97 50.5H51M50 87.5c6.904 0 12.5-16.79 12.5-37.5S56.904 12.5 50 12.5 37.5 29.29 37.5 50 43.096 87.5 50 87.5Z'>
      </path><path
        stroke='#07041F'
        d='M82.48 68.746c3.452-5.98-8.29-19.22-26.225-29.576-17.936-10.355-35.275-13.903-38.726-7.925-3.452 5.98 8.29 19.22 26.226 29.576C61.69 71.176 79.029 74.724 82.48 68.746Z'>
      </path><path
        stroke='#07041F'
        d='M56.255 60.83C74.19 50.475 85.932 37.233 82.48 31.255c-3.452-5.979-20.79-2.431-38.726 7.924-17.936 10.356-29.678 23.597-26.226 29.576 3.451 5.978 20.79 2.43 38.726-7.925Z'>
      </path><path
        stroke='#07041F'
        d='M50 53.125a3.125 3.125 0 1 0 0-6.25 3.125 3.125 0 0 0 0 6.25Z'>
      </path>
    </svg>
    <h2 class='text-xl text-black mt-6 mb-2'>Juan Camilo Urbano</h2>
    <p class='text-base text-gray tracking-wide'>
      I am passionate about design and technology, I enjoy designing data-driven
      digital products that fit my clients' needs and enhance their user
      experience. My business background helps me to create effective solutions
      that fit the design and business needs of companies.
    </p>
  </header>
  <div class='border-t border-gray/30 my-4'></div>
  <ul class='space-y-2'>
    <li class='uppercase font-semibold m-0'>
      <a class='active:text-black' href='/'>Work</a>
    </li>
    <li class='uppercase text-gray m-0'>
      <a class='hover:text-black' href='#'>About</a>
    </li>
    <li class='uppercase text-gray m-0'>
      <a class='hover:text-black' href='#'>Resume</a>
    </li>
    <li class='uppercase text-gray m-0'>
      <a class='hover:text-black' href='#'>Contact</a>
    </li>
  </ul>
  <div class='border-t border-gray/30 my-4'></div>
  <div class='flex gap-2 mt-4'>
    <svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'>
      <path stroke='#000' d='M35 7.5H5v25h30v-25Z'></path><path
        stroke='#000'
        d='m35 12.5-15 10-15-10'>
      </path>
    </svg>
    <svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'>
      <path
        stroke='#000'
        d='M33.125 35V20M14.375 35V12.5M14.375 20c0-4.144 4.2-7.5 9.375-7.5s9.375 3.356 9.375 7.5M6.875 5v3.75M6.875 12.5V35'>
      </path>
    </svg>
  </div>
</aside>
