---
import { links } from '@/constants/info'
---

<div class='flex gap-2'>
  <a href={links.email} referrerpolicy='no-referrer'>
    <svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'>
      <path stroke='#000' d='M35 7.5H5v25h30v-25Z'></path><path
        stroke='#000'
        d='m35 12.5-15 10-15-10'>
      </path>
    </svg>
  </a>
  <a href={links.linkedin} target='_blank' referrerpolicy='no-referrer'>
    <svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'>
      <path
        stroke='#000'
        d='M33.125 35V20M14.375 35V12.5M14.375 20c0-4.144 4.2-7.5 9.375-7.5s9.375 3.356 9.375 7.5M6.875 5v3.75M6.875 12.5V35'>
      </path>
    </svg>
  </a>
</div>
