---
interface Props {
  text: string
}

const { text } = Astro.props
---

<div
  class='bg-white drop-shadow-lg text-[#000] border-[#D4D4D4] border px-5 py-2 rounded-full text-base w-fit'>
  {text}
</div>
