---
interface Props {
  title: string
}

import '@fontsource-variable/inter'
import '@fontsource/xanh-mono/400-italic.css'

const { title } = Astro.props

import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
import BaseLayout from './BaseLayout.astro'
---

<BaseLayout title={title}>
  <Navbar />
  <section class='max-w-[1280px] mx-auto'>
    <div class='p-10'>
      <slot />
    </div>
    <Footer />
  </section>
</BaseLayout>
